.root {
  @apply h-full bg-primary mx-auto transition-colors duration-150;
  max-width: 2460px;
}


/* REBILLIA START */ #CheckoutStepPaymentDetails .ExpressCheckoutContent { opacity: 0; visibility: hidden; } .rebillia-account-management { opacity: 0; visibility: hidden; } /* REBILLIA END */